# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# PyTorch Lightning logs
lightning_logs/

# Project outputs
output/

# OS / IDE noise
.DS_Store
Thumbs.db
.vscode/
.idea/

icwb2-data/
zhwiki-latest-pages-articles.xml.bz2